openapi: 3.0.0
info:
  title: 'Billingo API v3'
  description: 'This is a Billingo API v3 documentation. Our API based on REST software architectural style. API has resource-oriented URLs, accepts JSON-encoded request bodies and returns JSON-encoded responses. To use this API you have to generate a new API key on our [site](https://app.billingo.hu/api-key). After that, you can test your API key on this page.'
  termsOfService: 'https://www.billingo.hu/felhasznalasi-feltetelek'
  contact:
    name: 'Billingo Support'
    url: 'https://www.billingo.hu/kapcsolat'
    email: hello@billingo.hu
  version: 3.0.14
servers:
  -
    url: 'https://api.billingo.hu/v3'
    description: 'Billingo API'
paths:
  /bank-accounts:
    get:
      tags:
        - BankAccount
      summary: 'List all bank account'
      description: 'Returns a list of your bank accounts. The bank accounts are returned sorted by creation date, with the most recent bank account appearing first.'
      operationId: ListBankAccount
      parameters:
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            default: '1'
        -
          name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 25
            maximum: 100
            minimum: 1
      responses:
        '200':
          description: 'Success response'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - BankAccount
      summary: 'Create a bank account'
      description: 'Create a new bank account. Returns a bank account object if the create is succeded.'
      operationId: CreateBankAccount
      requestBody:
        description: 'BankAccount object that you would like to store.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccount'
      responses:
        '201':
          description: 'BankAccount created successfully.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
  '/bank-accounts/{id}':
    get:
      tags:
        - BankAccount
      summary: 'Retrieve a bank account'
      description: 'Retrieves the details of an existing bank account.'
      operationId: GetBankAccount
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Success response'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - BankAccount
      summary: 'Update a bank account'
      description: 'Update an existing bank accounts. Returns a bank account object if the update is succeded.'
      operationId: UpdateBankAccount
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: 'Bank account object that you would like to update.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccount'
      responses:
        '200':
          description: 'Bank account updated successfully.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - BankAccount
      summary: 'Delete a bank account'
      description: 'Delete an existing bank account.'
      operationId: DeleteBankAccount
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: 'Bank account deleted successfully.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
  /currencies:
    get:
      tags:
        - Currency
      summary: 'Get currencies exchange rate.'
      description: 'Return with the exchange value of given currencies.'
      operationId: GetConversionRate
      parameters:
        -
          name: from
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Currency'
        -
          name: to
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Currency'
        -
          name: date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 'Currencies exchange rate returned.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationRate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
  /document-blocks:
    get:
      tags:
        - DocumentBlock
      summary: 'List all document blocks'
      description: 'Returns a list of your document blocks. The document blocks are returned sorted by creation date, with the most recent document blocks appearing first.'
      operationId: ListDocumentBlock
      parameters:
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            default: '1'
        -
          name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 25
            maximum: 100
            minimum: 1
        -
          name: type
          in: query
          description: 'Filter document blocks by type'
          required: false
          schema:
            $ref: '#/components/schemas/DocumentBlockType'
          example: invoice
      responses:
        '200':
          description: 'Success response'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentBlockList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
  /document-export:
    post:
      tags:
        - DocumentExport
      summary: 'Create document export.'
      description: 'Return with the id of the export.'
      operationId: Create
      requestBody:
        description: 'Create document export body.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDocumentExport'
      responses:
        '201':
          description: 'Export job ID returned.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentExportId'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
  '/document-export/{id}/download':
    get:
      tags:
        - DocumentExport
      summary: 'Return exported binary file.'
      description: 'Return the exported file.'
      operationId: Download
      parameters:
        -
          name: id
          in: path
          description: 'The ID from create document export endpoint.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Document export file.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            'application/*':
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
  '/document-export/{id}/poll':
    get:
      tags:
        - DocumentExport
      summary: 'Retrieve export state.'
      description: 'Return state of the given export.'
      operationId: Poll
      parameters:
        -
          name: id
          in: path
          description: 'The ID from create document export endpoint.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Export job status returned.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentExportStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
  /documents:
    get:
      tags:
        - Document
      summary: 'List all documents'
      description: 'Returns a list of your documents. The documents are returned sorted by creation date, with the most recent documents appearing first.'
      operationId: ListDocument
      parameters:
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            default: '1'
        -
          name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 25
            maximum: 100
            minimum: 1
        -
          name: block_id
          in: query
          description: 'Filter documents by the identifier of your DocumentBlock.'
          required: false
          schema:
            type: integer
        -
          name: partner_id
          in: query
          description: 'Filter documents by the identifier of your Partner.'
          required: false
          schema:
            type: integer
        -
          name: payment_method
          in: query
          description: 'Filter documents by PaymentMethod value.'
          required: false
          schema:
            $ref: '#/components/schemas/PaymentMethod'
          example: cash
        -
          name: payment_status
          in: query
          description: 'Filter documents by PaymentStatus value.'
          required: false
          schema:
            $ref: '#/components/schemas/PaymentStatus'
          example: paid
        -
          name: start_date
          in: query
          description: 'Filter documents by their invoice date.'
          required: false
          schema:
            type: string
            format: date
          example: '2020-05-15'
        -
          name: end_date
          in: query
          description: 'Filter documents by their invoice date.'
          required: false
          schema:
            type: string
            format: date
          example: '2020-05-15'
        -
          name: start_number
          in: query
          description: 'Starting number of the document, should not contain year or any other formatting. Required if `start_year` given'
          required: false
          schema:
            type: integer
          example: '1'
        -
          name: end_number
          in: query
          description: 'Ending number of the document, should not contain year or any other formatting. Required if `end_year` given'
          required: false
          schema:
            type: integer
          example: '10'
        -
          name: start_year
          in: query
          description: 'Year for `start_number` parameter. Required if `start_number` given.'
          required: false
          schema:
            type: integer
          example: '2020'
        -
          name: end_year
          in: query
          description: 'Year for `end_number` parameter. Required if `end_number` given.'
          required: false
          schema:
            type: integer
          example: '2020'
        -
          name: type
          in: query
          description: 'Filter documents by type'
          required: false
          schema:
            $ref: '#/components/schemas/DocumentType'
          example: invoice
        -
          name: query
          in: query
          description: 'Filter documents by the given text'
          required: false
          schema:
            type: string
        -
          name: paid_start_date
          in: query
          description: 'Filter documents by their payment date.'
          required: false
          schema:
            type: string
            format: date
          example: '2020-05-15'
        -
          name: paid_end_date
          in: query
          description: 'Filter documents by their payment date.'
          required: false
          schema:
            type: string
            format: date
          example: '2020-05-15'
        -
          name: fulfillment_start_date
          in: query
          description: 'Filter documents by their fulfillment date.'
          required: false
          schema:
            type: string
            format: date
          example: '2020-05-15'
        -
          name: fulfillment_end_date
          in: query
          description: 'Filter documents by their fulfillment date.'
          required: false
          schema:
            type: string
            format: date
          example: '2020-05-15'
        -
          name: last_modified_date
          in: query
          description: 'Filter documents by their last modified date.'
          required: false
          schema:
            type: string
            format: datetime
          example: '2021-09-03 11:27:00'
      responses:
        '200':
          description: 'Success response'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - Document
      summary: 'Create a document'
      description: 'Create a new document. Returns a document object if the create is succeded.'
      operationId: CreateDocument
      requestBody:
        description: 'DocumentInsert object that you would like to store.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentInsert'
      responses:
        '201':
          description: 'Document created successfully.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
  /documents/receipt:
    post:
      tags:
        - Document
      summary: 'Create a receipt'
      description: 'Create a new receipt. Returns a document object if the create is succeded.'
      operationId: CreateReceipt
      requestBody:
        description: 'ReceiptInsert object that you would like to store.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReceiptInsert'
      responses:
        '201':
          description: 'Receipt created successfully.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
  '/documents/receipt/{id}':
    put:
      tags:
        - Document
      summary: 'Converts a draft to a receipt.'
      description: 'Converts a draft to a receipt. Returns the receipt object if the convert is succeded.'
      operationId: CreateReceiptFromDraft
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: 'ReceiptInsert object that you would like to store.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReceiptInsert'
      responses:
        '200':
          description: 'Draft converted successfully.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
  '/documents/vendor/{vendor_id}':
    get:
      tags:
        - Document
      summary: 'Retrieve a document by vendor id'
      description: 'Retrieves the details of an existing document by vendor id.'
      operationId: GetDocumentByVendorId
      parameters:
        -
          name: vendor_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Success response'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
  '/documents/{id}':
    get:
      tags:
        - Document
      summary: 'Retrieve a document'
      description: 'Retrieves the details of an existing document.'
      operationId: GetDocument
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Success response'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Document
      summary: 'Converts a draft to an invoice.'
      description: 'Converts a draft to an invoice. Returns the invoice object if the convert is succeded.'
      operationId: CreateDocumentFromDraft
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: 'DocumentInsert object that you would like to store.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentInsert'
      responses:
        '200':
          description: 'Draft converted successfully.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Document
      summary: 'Delete a draft.'
      description: 'Delete an existing draft.'
      operationId: DeleteDocument
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: 'Draft deleted successfully.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
  '/documents/{id}/archive':
    put:
      tags:
        - Document
      summary: 'Archive a proforma document.'
      description: 'Archive an existing proforma document.'
      operationId: ArchiveDocument
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: 'Document archived successfully.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
  '/documents/{id}/cancel':
    post:
      tags:
        - Document
      summary: 'Cancel a document'
      description: 'Cancel a document. Returns a cancellation document object if the cancellation is succeded.'
      operationId: CancelDocument
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: 'Comment and notifiable email addresses - comma separated for multiple email addresses'
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentCancellation'
      responses:
        '200':
          description: 'Document cancellation successfully. Cancel document returned.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
  '/documents/{id}/copy':
    post:
      tags:
        - Document
      summary: 'Copy a document'
      description: 'Copy a document. Returns the new document if the copy was succeded.'
      operationId: DocumentCopy
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Document copied successfully. The created document returned.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
  '/documents/{id}/create-from-proforma':
    post:
      tags:
        - Document
      summary: 'Create a document from proforma.'
      description: 'Create a new document from proforma. Returns a document object if the create is succeded.'
      operationId: CreateDocumentFromProforma
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: 'InvoiceSettings object.'
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceSettings'
      responses:
        '201':
          description: 'Document created successfully.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
  '/documents/{id}/create-modification-document':
    post:
      tags:
        - Document
      summary: 'Create a modification document.'
      description: 'Create a modification document for the given document. Returns a new document object if the create is successful.'
      operationId: CreateModificationDocument
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: 'ModificationDocumentInsert object that you would like to store.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModificationDocumentInsert'
      responses:
        '201':
          description: 'Modification document created successfully.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
  '/documents/{id}/download':
    get:
      tags:
        - Document
      summary: 'Download a document in PDF format.'
      description: 'Download a document. Returns a document in PDF format.'
      operationId: DownloadDocument
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Document PDF file.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '202':
          description: 'Document PDF has not generated yet. You should try to download again later.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
  '/documents/{id}/online-szamla':
    get:
      tags:
        - Document
      summary: 'Retrieve a document Online Számla status'
      description: 'Retrieves the details of an existing document status.'
      operationId: GetOnlineSzamlaStatus
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Success response'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnlineSzamlaStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
  '/documents/{id}/payments':
    get:
      tags:
        - Document
      summary: 'Retrieve a payment histroy'
      description: 'Retrieves the details of payment history an existing document.'
      operationId: GetPayment
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Success response'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentHistory'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Document
      summary: 'Update payment history'
      description: 'Update payment history an existing document. Returns a payment history object if the update is succeded.'
      operationId: UpdatePayment
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: 'Payment history object that you would like to update.'
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PaymentHistory'
      responses:
        '200':
          description: 'Payment history updated successfully.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentHistory'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Document
      summary: 'Delete all payment history on document'
      description: 'Delete all exist payment history on document.'
      operationId: DeletePayment
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Payment history deleted successfully.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentHistory'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
  '/documents/{id}/print/pos':
    get:
      tags:
        - Document
      summary: 'Returns a printable POS PDF'
      description: 'Returns a printable POS PDF file of a particular document.'
      operationId: PosPrint
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
        -
          name: size
          in: query
          description: 'In which size the POS PDF should be rendered.'
          required: true
          schema:
            enum:
              - 58
              - 80
      responses:
        '200':
          description: 'A printable PDF document'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
  '/documents/{id}/public-url':
    get:
      tags:
        - Document
      summary: 'Retrieve a document download public url.'
      description: 'Retrieves public url to download an existing document.'
      operationId: GetPublicUrl
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Success response'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentPublicUrl'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
  '/documents/{id}/send':
    post:
      tags:
        - Document
      summary: 'Send invoice to given email adresses.'
      description: 'Returns a list of emails, where the invoice is sent.'
      operationId: SendDocument
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: 'List of email-s where you want to send the invoice.'
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendDocument'
      responses:
        '200':
          description: 'List of email adresses where the invoice sent.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
  /organization:
    get:
      tags:
        - Organization
      summary: 'Retrieve a organization data.'
      description: 'Retrieves the data of organization.'
      operationId: GetOrganizationData
      responses:
        '200':
          description: 'Success response'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
  /partners:
    get:
      tags:
        - Partner
      summary: 'List all partners'
      description: 'Returns a list of your partners. The partners are returned sorted by creation date, with the most recent partners appearing first.'
      operationId: ListPartner
      parameters:
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            default: '1'
        -
          name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 25
            maximum: 100
            minimum: 1
        -
          name: query
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'Success response'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - Partner
      summary: 'Create a partner'
      description: 'Create a new partner. Returns a partner object if the create is succeded.'
      operationId: CreatePartner
      requestBody:
        description: 'Partner object that you would like to store.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Partner'
      responses:
        '201':
          description: 'Partner created successfully.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Partner'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
  '/partners/{id}':
    get:
      tags:
        - Partner
      summary: 'Retrieve a partner'
      description: 'Retrieves the details of an existing partner.'
      operationId: GetPartner
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Success response'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Partner'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Partner
      summary: 'Update a partner'
      description: 'Update an existing partner. Returns a partner object if the update is succeded.'
      operationId: UpdatePartner
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: 'Partner object that you would like to update.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Partner'
      responses:
        '200':
          description: 'Partner updated successfully.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Partner'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Partner
      summary: 'Delete a partner'
      description: 'Delete an existing partner.'
      operationId: DeletePartner
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: 'Partner deleted successfully.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
  /products:
    get:
      tags:
        - Product
      summary: 'List all product'
      description: 'Returns a list of your products. The partners are returned sorted by creation date, with the most recent partners appearing first.'
      operationId: ListProduct
      parameters:
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            default: '1'
        -
          name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 25
            maximum: 100
            minimum: 1
        -
          name: query
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'Success response'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - Product
      summary: 'Create a product'
      description: 'Create a new product. Returns a product object if the create is succeded.'
      operationId: CreateProduct
      requestBody:
        description: 'Product object that you would like to store.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
      responses:
        '201':
          description: 'Product created successfully.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
  '/products/{id}':
    get:
      tags:
        - Product
      summary: 'Retrieve a product'
      description: 'Retrieves the details of an existing product.'
      operationId: GetProduct
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Success response'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Product
      summary: 'Update a product'
      description: 'Update an existing product. Returns a product object if the update is succeded.'
      operationId: UpdateProduct
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: 'Product object that you would like to update.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
      responses:
        '200':
          description: 'Product updated successfully.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Product
      summary: 'Delete a product'
      description: 'Delete an existing product.'
      operationId: DeleteProduct
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: 'Product deleted successfully.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
  /spendings:
    get:
      tags:
        - Spending
      summary: 'Lists all spending'
      description: 'Returns a list of your spending items, ordered by the due date.'
      operationId: SpendingList
      parameters:
        -
          name: q
          in: query
          required: false
          schema:
            type: string
            default: ''
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        -
          name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 25
            maximum: 100
            minimum: 1
        -
          name: spending_date
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/DateType'
          example: invoice_date
        -
          name: start_date
          in: query
          required: false
          schema:
            type: string
          example: '2021-01-01'
        -
          name: end_date
          in: query
          required: false
          schema:
            type: string
          example: '2021-01-31'
        -
          name: payment_status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PaymentStatusSpending'
          example: paid
        -
          name: spending_type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Source'
          example: manual
        -
          name: categories
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Category'
          example: overheads
        -
          name: currencies
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Currency'
          example: HUF
        -
          name: payment_methods
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PaymentMethod'
          example: cash
      responses:
        '200':
          description: 'Success response'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - Spending
      summary: 'Creates a new spending.'
      operationId: SpendingSave
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingSave'
      responses:
        '201':
          description: 'Success response.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spending'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
  '/spendings/{id}':
    get:
      tags:
        - Spending
      summary: 'Retrieves one specific spending.'
      description: 'Retrives the spending identified by the given ID in path.'
      operationId: SpendingShow
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Success response.'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spending'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Spending
      summary: 'Updates a spending item.'
      description: 'Updates the spending item identified by the ID given in path.'
      operationId: SpendingUpdate
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingSave'
      responses:
        '200':
          description: 'Success response'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spending'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Spending
      summary: 'Deletes a spending.'
      description: 'Deletes the spending identified by the ID given in path.'
      operationId: SpendingDelete
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: 'Success response'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: 'The timestamp at which the current rate limit window resets.'
              schema:
                type: integer
                format: int32
            Retry-After:
              description: 'How many seconds you have to wait before making new request.'
              schema:
                type: integer
                format: int32
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
        '404':
          $ref: '#/components/responses/NotFound'
  '/utils/check-tax-number/{tax_number}':
    get:
      tags:
        - Util
      summary: 'Check tax number.'
      description: 'Check the given tax number format, and NAV validate.'
      operationId: CheckTaxNumber
      parameters:
        -
          name: tax_number
          in: path
          required: true
          schema:
            type: string
            pattern: '^([0-9]{8})-([12345])-([0-9]{2})$'
      responses:
        '200':
          description: 'Success response'
          headers:
            X-RateLimit-Limit:
              description: 'Request limit per minute.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Remaining:
              description: 'The number of requests left for the time window.'
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
[...]
